@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Light theme */
  --color-light-purple: #f6f4ff;
  --color-dark-purple: #8370ff;

  /* Background */
  --color-light-main-background: #ffffff;
  --color-light-sidebar: #f6f4ff;
  --color-light-card: #a293ff;
  --color-light-hover: #8370ff;

  /* Text */
  --color-light-main: #000000;
  --color-light-secondary: #666666;
  --color-light-muted: #8B8FC7;

  /* Dark theme */
  /* Background */
  --color-main-background: #121212;
  --color-sidebar: #171717;
  --color-card: #212121;
  --color-hover: #313131;

  /* Status */
  --color-success: #41cd8b;
  --color-danger: #FF6B6B;
  --color-warning: #e7a656;

  /* Text */
  --color-main: #ffffff;
  --color-secondary: #666666;
  --color-muted: #8B8FC7;
}

.transition-duration-300 {
  @apply transition-all duration-300;
}

.text-slate {
  @apply text-slate-500 dark:text-secondary
}